<div>
  <div class="container my-5">
    <div class="text-center my-5 p-5">
      <h1> BUDGETZ </h1>
    </div>
    <div class="buttom">
      <div>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-blu col-12"%>
      </div>
      <div>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn col-12"%>
      </div>
    </div>
  </div>
</div>