<%= render "layouts/navbar", title: "User Profile" %>
<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="text-center mt-5">
    <small>Welcome</small>
    <h3><%= @user.name %></h3>
  </div>
</div>

<div class="container">
  <div class="text-center mt-5">
    <%= link_to "Home", categories_path, class: "btn btn-blu" %>
  </div>
</div>

