<div id="<%= dom_id category %>">
  <div class="card m-2">
    <div class="card-body">
      <div class="d-flex">
        <div class="px-4">
          <%= link_to category.name, category %>
        </div>
      </div>
    </div>
  </div>
</div>
